.container {
    width: 100%;
    max-width: var(--container-max-width, 1200px);
    padding-right: var(--container-padding, 16px);
    padding-left: var(--container-padding, 16px);
    margin-right: auto;
    margin-left: auto;
}

.s {
    --container-max-width: 800px;
}

.m {
    --container-max-width: 1200px;
}

.l {
    --container-max-width: 1400px;
}
