rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match/mystery-files-germany-blog/{blogpost} {
      allow read, create, write: if true
      match /comments/{comment} {
        allow read, create, write: if true
      }
    }
  }
}
