body {
  /*min-height: 100vh;*/
  /*padding-bottom: 4rem;*/
  /*margin: 0 auto;*/
  /*font-size: var(--text-base);*/
  /* color: var(--color-accent); */
  /* font-family: var(--font-playfair-display), serif; */
  /* font-family: var(--font-lato), sans-serif; */
  /* font-family: "Arial", sans-serif; */
  /* color: var(--color-accent); */
  /* height: 100svh; */
  /* background-color: var(--color-secondary); */
  /* overflow-x: hidden; */
  /* padding: 0; */
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  .align-self {
    align-self: flex-end;
  }
}
.flex-item {
  flex: 0 0 auto;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.radius-s {
  border-radius: var(--radius-s);
}

.radius-m {
  border-radius: var(--radius-m);
}

.radius-l {
  border-radius: var(--radius-l);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.emerald {
  color: #fff;
  background-color: #008a00;
}

.hover-emerald:hover {
  color: #fff;
  background-color: color-mix(in srgb, #008a00, #016e01 90%);
}

.primary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.hover-primary:hover {
  color: var(--color-white);
  background-color: color-mix(in srgb, var(--color-primary), var(--color-secondary) 90%);
}

.panel {
  padding-top: 16px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 16px;
}

.border {
  border: 1px solid var(--color-secondary);
}

.tiny {
  font-size: 0.75rem;
}

.small {
  font-size: 0.875rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.5rem;
}

.jumbo {
  font-size: 3rem;
}
