:root {
  --emerald: #008a00;
}
.emerald {
  color: #fff;
  background-color: var(--emerald);
}

.hover-emerald:hover {
  color: #fff;
  background-color: color-mix(in srgb, var(--emerald), #016e01 90%);
}
