#ticker-container {
  position: relative;
  flex: 1;
  width: fit-content;
  overflow: hidden;
}
.ticker-items::before,
.ticker-items::after {
  content: " +++ ";
}
.ticker-items {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  font: var(--font-text);

  /*letter-spacing: 0.05rem;*/
  white-space: nowrap;
  animation: marquee 160s linear infinite;

  will-change: transform;
}
@media (max-width: 768px) {
  .ticker-items {
    animation-duration: 180s;
  }
}

@media (max-width: 480px) {
  .ticker-items {
    animation-duration: 200s;
  }
}
#ticker-container:hover .ticker-items {
  animation-play-state: paused;
}
.ticker-item-span {
  padding-inline: 0.5rem;
  font-size: 1.25rem;
}
@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-100%);
  }
}
